.headerLider{
    display: flex;
    justify-content: space-between;
    margin: 1rem 10%;
    align-items: center;
}


.headerLider h1{
    color: red;
}

.headerLider li{
    display: inline-block;
    padding: 0rem 1rem;
    color: white;
}

.headerLider li:hover{
    color: red;
    transform: scale(1.3);
}