.header{
    background-color: #ededed;
}

.header h1{
    text-align: center;
    color: red;
}

.header ul{
    text-align: center;
    padding: .3rem 0rem;
}

.header li{
    display: inline-block;
    padding: .2rem 1rem;
}