.MyProjects{
    margin: 2rem 0rem; 
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyProjects__button{
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

.MyProjects__button--chance{
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.MyProjects__thead tr{
    background-color:#686d76;
    color: white;
}

.MyProjects__data tr:nth-child(even){
    background-color: white;
    color: black;
}

.MyProjects__data tr:hover{
    background-color: #686d76;
    color: white;
}


/*Estilos del formulario de cracion de proyecto*/ 

.MyProjects__form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.MyProjects__formbutton--contenedor{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.MyProjects__formbutton--contenedor button{
    width: 10rem;
    padding: .5rem 0rem;
    font-size: 1.2rem;
}

.MyProjects__formbutton--contenedor button:hover{
    background-color: #686d76;
    color: white;
}

.MyProjects__formulario input{
    width: 30vw;
    padding: .5rem 0rem;
    margin: 1rem 0rem;
    box-shadow: 3px 3px 8px 1px #9D9D9D;
}

.MyProjects__thead tr > th{
    text-align: center;
}