.projects{
    display: flex;
    background-color: #ededed;
}

.projects thead{
    background-color: #686d76;
}


.projects{
    width: 100%;
    padding: 5rem 0rem 30rem 0rem;
    display: flex;
    justify-content: center;
    color: black;
}

table{
    border-collapse: collapse;
    width: 95vw;
    text-align: center;
}

thead th{
    /* border: 1px solid red; */
    height: 2rem;
    color: white;
}

tbody tr{
    height: 3rem;
}

thead th:nth-child(1) {
    width: 5%;
    text-align: center;
}

thead th:nth-child(2) {
    width: 13%;
}

thead th:nth-child(3) {
    width: 8%;
}

thead th:nth-child(4) {
    width: 8%;
}

thead th:nth-child(5) {
    width: 8%;
}

thead th:nth-child(6) {
    width: 20%;
}

thead th:nth-child(7) {
    width: 15%;
}

thead th:nth-child(8) {
    width: 8%;
}

thead th:nth-child(9) {
    width: 11%;
}

@media (max-width:1382px){
    table{
        width: 100vw;
    }
}