.public{
    height: 100vh;
    width: 100%;
    /* border: 5px solid red; */
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.public__main{
    flex-grow: 1;
}




.public__header{
    background-color: #212529;
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo titulo titulo titulo titulo login" 
                        "titulo titulo titulo titulo titulo titulo titulo titulo login";
                        
    justify-content: center;
}
                    
.public__header--tittle{
    grid-area: titulo;
    text-align: center;
    color: #F90716;
    font-size: 1.8rem;
    font-weight: 900;
    margin-right: 0rem;
    margin-left: 14rem;
}
.public__header--boton{
    grid-area: login;
    margin-left: 16rem;
}

.public__header--boton button{
    display: block;
    background-color: #C4C4C4;
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.2rem;
}



.public__header--boton button:hover{
    transform: scale(1.3);
}



.public__contenido{
    background-image: url("../images/public-01.jpg");
    height: 40rem;
    width: 100%;
    margin: 3rem 0rem 0rem 0rem;
    display: flex;
}

.public__contenido--text{
    color: black;
    background-color: white;
    opacity: 0.9;
    padding: 2rem 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin: auto;
    width: 70%;
    font-size: 1.8rem;
    border-radius: 25px;
}


.public__ola{
    background-color: #EDEDED;
}

@media (max-width:1200px) {
    .public__header--tittle{
        font-size: 1.4rem;
    }
    .public__contenido--text{
        font-size: 1.3rem;
    }
}