.tableUsers{
    background-color: #ededed;
    width: 100%;
    padding: 4rem 0rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableUsers table tr:nth-child(even){
    background-color: white;
}

.tableUsers__thead{
    border-bottom: solid 5px #0f362d;
}


.tableUsers__tittle th{
    padding-right: 8rem;
    text-align: left;
}

.tableUsers__data td{
    text-align: left;
    padding: .5rem 0rem;
}
