.tableUsers{
    width: 100%;
    padding: 4rem 0rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.tableUsers table{
    background-color: #ededed;
    color: black;
}

.tableUsers__data tr:nth-child(even){
    background-color: white;
    color: black;
}


.tableUsers__thead{
    border-bottom: solid 5px #ededed;
}

.tableUsers thead{
    background-color: #686d76;
}


.tableUsers__tittle th{
    width: auto;
    text-align: center;
}

.tableUsers__data td{
    text-align: center;
    padding: .5rem 0rem;
}

.tableUsers__data{
    outline: 1px solid black;
    border-collapse: collapse;
}


.tableUsers__data tr:hover{
    background-color: #686d76;
    color: white;
}

